doctype html
html(lang="en")
  head
    link(rel='stylesheet', href="/css/main.css")
    script(type='text/javascript', src="/js/jquery-1.12.1.min.js")
    title="Miss World New Zealand 2016 Finalist - Ariel Pearse"
  body
    .home-wrap
      include ./includes/header.jade
      
      .home-sections
        include ./includes/section-about.jade
        include ./includes/home.jade
