mixin nav-content()
  ul
    li.grow: a(href="#about") about
    li.grow: a(href="#latest") updates
    li.grow: a(href="#finalist") finalist
    li.grow: a(href="#checkitout") check it out
    li.grow: a(href="#coverup") cover up
    li.grow: a(href="#fundraisers") fundraisers
    li.grow: a(href="#sponsors") sponsors

.mobile-nav
  +nav-content

header
  .header-position
    h1.logo Ariel Pearse
    
    nav.site-nav
      +nav-content
        
    a.grow(href="mailto:arielpearse@gmail.com").email-link +email me

    .mobile-nav-toggle: span
