header
  .header-position
    h1.logo Ariel Pearse
    
    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#finalist") 2016 Finalist
        li: a(href="#coverup") Cover Up
        li: a(href="#checkitout") Check It Out
        li: a(href="#fundraisers") Fundraisers
        li: a(href="#sponsors") Sponsors
        
      a(href="mailto:arielpearse@gmail.com").email-link +email me

  i.fa.fa-bars.fa-2x
