section.latest
  .flex.flex--space-around
    .col-1
      .post-strip
      .flex-video <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="https://www.facebook.com/153121718404438/videos/170672009982742/"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/153121718404438/videos/170672009982742/"><a href="https://www.facebook.com/153121718404438/videos/170672009982742/"></a><p>&quot;Remember, you&#039;re the one that can fill the world with sunshine.&quot;- Snow White... I had the biggest smile as I came out of countdown! My new friend Ace has my respect in two big ways: 1. He had the persistence to learn a talent. 2. He had the courage to show the world! #thesmallthings #hiddentreasures #justdoit</p>Posted by <a href="https://www.facebook.com/Ariel-Pearse-Miss-World-New-Zealand-2016-Finalist-153121718404438/">Ariel Pearse - Miss World New Zealand 2016 Finalist</a> on Tuesday, 8 March 2016</blockquote></div></div>
    .col-1.order-first
      p.home-lead The latest news from my journey.
      a.home-cta(href="https://www.facebook.com/Ariel-Pearse-Miss-World-New-Zealand-2016-Finalist-153121718404438/?ref=ts&fref=ts").home-cta More of my latest
