section.about
  .flex.flex--center
    .col-1.push-left
      h2 To my beautiful friends and family! 
      p This is my perfect opportunity to achieve my childhood goal of fighting for my social cause. As a public figure I will be sharing my journey and experiences with everyone on this page! 
      p There are an infinite number of opportunities to make a meaningful difference in this world. The connection I have felt in selfless service has directed my life to have this desire to start my own social enterprise and to champion principles of humanity.
